html, body{
margin:0;
font-family:'Comic Sans MS',sans-serif;
background:linear-gradient(135deg,#ff7a18,#ffd700,#4facfe);
background-size:400% 400%;
animation:bgmove 12s infinite alternate;
color:white;
text-align:center;
}

@keyframes bgmove{
0%{background-position:0% 50%;}
100%{background-position:100% 50%;}
}

.startBtn{background:#2ecc71;}
.retakeBtn{background:#f39c12;}
.printBtn{background:#3498db;}
.stopBtn{background:#e74c3c;}

button:active{
transform:scale(0.95);
}

/* SCREEN FIX */
.screen{
display:none !important;
height:100vh;
justify-content:center;
align-items:center;
flex-direction:column;
}

.screen.active{
display:flex !important;
}

/* MAIN LAYOUT */

#main{
display:flex;
justify-content:center;
align-items:flex-start;
gap:30px;
margin-top:15px;
}

#startScreen.active ~ #sessionTimer{
display:none;
}

/* BASE BAR */
#progressTop,
#progressBottom{
transition: all 0.1s linear;
position:fixed;
left:0;
height:6px;
background:#2ecc71;
z-index:9998;
  box-shadow:0 0 10px currentColor;
}
#progressLeft,
#progressRight{
transition: all 0.1s linear;
position:fixed;
top:0;
width:6px;
background:#2ecc71;
z-index:9998;
  box-shadow:0 0 10px currentColor;
}
/* POSISI */
#progressTop{
top:0;
width:0%;
}
#progressRight{
right:0;
height:0%;
}
#progressBottom{
bottom:0;
right:0;
left:auto;
width:0%;
}

#progressLeft{
left:0;
bottom:0;
top:auto;
height:0%;
}
#cameraBlock{
display:flex;
flex-direction:column;
align-items:center;
}

/* CAMERA */

#cameraContainer{
position:relative;
background:white;
padding:12px;
border-radius:16px;
box-shadow:0 6px 18px rgba(0,0,0,0.25);
}

video{
width:760px;
border-radius:12px;
filter:grayscale(100%);
}

/* COUNTDOWN (PENTING - DIPERTAHANKAN) */

#countdown{
position:absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%);
font-size:120px;
font-weight:bold;
color:white;
text-shadow:4px 4px 15px black;
pointer-events:none;
}

/* BUTTONS (PENTING - DIPERTAHANKAN) */

#controls{
margin-top:15px;
}

button{
border:none;
padding:11px 20px;
margin:6px;
font-size:16px;
font-weight:bold;
border-radius:40px;
cursor:pointer;
color:white;
transition:0.25s;
box-shadow:0 5px 12px rgba(0,0,0,0.25);
}

button:hover{
transform:scale(1.06);
}

.startBtn{background:#2ecc71;}
.retakeBtn{background:#f39c12;}
.printBtn{background:#e74c3c;}

/* STRIP */

#strip{
width:175px;
background:white;
padding:10px;
border-radius:6px;
box-shadow:0 6px 18px rgba(0,0,0,0.25);
color:black;
font-family:monospace;
font-size:10px;
text-align:center;
}

#photos img{
width:100%;
margin-bottom:2px;
filter:grayscale(100%);
}

.receiptHeader{
margin-bottom:6px;
}

.receiptFooter{
margin-top:6px;
}

/* PRINT FIX FINAL */

@media print{

body *{
visibility:hidden;
}

#strip, #strip *{
visibility:visible;
}

#strip{
position:absolute;
left:0;
top:0;
width:80mm;
margin:0;
padding:0;
box-shadow:none;
}

@page{
size:80mm auto;
margin:0;
}

}
